/*-------------------result画面------------------------*/
 .result-background {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    background-color: #333;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
    
  
  .container2 {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
    
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    /*width: 650px;*/
    table-layout: fixed;
  }
  
  table tr {
    background-color: #fff;
    padding: .35em .35em .15em .35em;
    /*border-bottom: 2px solid #fff;*/
  }
  table th,
  table td {
    padding: 1em 10px 1em 1em;
    border-right: 2px solid #fff;
  }
  table th {
    font-size: .85em;
  }
  table thead tr{
    background-color: #167F92;
    color:#fff;
  }
  table tbody th {
      background: #6c757d;
      color: #fff;
  }
  .txt{
     text-align: left;
     font-size: .85em;
  }
  .price{
    text-align: right;
    color: #167F92;
    font-weight: bold;
  }
  .non{
    background:#fff
  }
  /*@media screen and (max-width: 600px){}*/
    table {
      border: 0;
      width:100%
    }
    table th{
      background-color: #6c757d;
      display: block;
      border-right: none;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      display: block;
     
      /*margin-bottom: .0.625em;*/
    }
    table td {
      border-bottom: 1px solid #bbb;
      display: block;
      font-size: .8em;
      text-align: right;
      position: relative;
      padding: .625em .625em .625em 4em;
      border-right: none;
    }
    
    table td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      left: 10px;
      color: #6c757d;
    }
    table td:last-child {
      border-bottom: 0;
    }
    table tbody th {
      color: #fff;
  }
   .result-word {
       font-weight: bold;
       font-size: 40px;
       margin-bottom: 30px;
       font-family: 'Myfont';
   }
  
   /* .result-word {
    animation: poyoyon 0.7s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
  }
   
  @keyframes poyoyon {
    0% {
      transform: translateX(140px);
      opacity: 0;
    }
    50% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
    20%,100% {
      opacity: 1;
    }
  } */

  .text {
    margin: 50px 0 0;
    text-align: center;
    font-size: 50px;
    opacity: 0;
    color: #fff;
  }

  .text p {
    display: inline-block;
    transform-origin: center center;
    transform: translate3d(0, 40px, 0);
  }

  .text p span {
    transform-origin: center center;
    transform: scale3d(0.1, 0.1, 1);
    opacity: 0;
  }

  .text p:nth-child(1) {
    transition: transform 1.5s ease 0.1s;
  }
  .text p:nth-child(1) span {
    transition: transform 1.5s ease 0.1s,opacity 1.5s ease 0.1s;
  }
  .text p:nth-child(2) {
    transition: transform 1.5s ease 0.2s;
  }
  .text p:nth-child(2) span {
    transition: transform 1.5s ease 0.2s,opacity 1.5s ease 0.2s;
  }
  .text p:nth-child(3) {
    transition: transform 1.5s ease 0.3s;
  }
  .text p:nth-child(3) span {
    transition: transform 1.5s ease 0.3s,opacity 1.5s ease 0.3s;
  }
  .text p:nth-child(4) {
    transition: transform 1.5s ease 0.4s;
  }
  .text p:nth-child(4) span {
    transition: transform 1.5s ease 0.4s,opacity 1.5s ease 0.4s;
  }
  .text p:nth-child(5) {
    transition: transform 1.5s ease 0.5s;
  }
  .text p:nth-child(5) span {
    transition: transform 1.5s ease 0.5s,opacity 1.5s ease 0.5s;
  }
  .text p:nth-child(6) {
    transition: transform 1.5s ease 0.6s;
  }
  .text p:nth-child(6) span {
    transition: transform 1.5s ease 0.6s,opacity 1.5s ease 0.6s;
  }

  .text.active {
    opacity: 1;
  }
  
  .text.active p {
    transform: translate3d(0, 0, 0);
  }
  
  .text.active span {
    display: block;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }
  

 /*---------------------チェックボックス-------------------------------*/ 
 

 .name {
    /*background: #fff;*/
    /*padding: 20px;*/
    position: relative;
    margin: 0 0 1px 0;
  }
  .name:hover {
    cursor: pointer;
  }
  /*.name.selected {
    background: #f3f3f3;
  }*/
  
  label {
    cursor: pointer;
  }
  label:before {
    display: inline-block;
    content: "+";
    margin: 0 10px 0 0;
    width: 35px;
    height: 35px;
    border: 3px solid #fff;
    /*border: 3px solid #f95e5e;*/
    border-radius: 100%;
    vertical-align: middle;
    color: #fff;
    /*color: #f95e5e;*/
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 0.9em;
    transition: transform 0.2s ease-in-out;
  }
  
  input[type=checkbox]:checked + label:before {
    background: #f95e5e;
    color: #fff;
    transform: rotate(135deg);
    transform-origin: center center;
  }
  
  input[type=checkbox] {
    visibility: hidden;
  }

  .is-open1,.is-open2,.is-open3,
  .is-open4,.is-open5,.is-open6,
  .is-open7,.is-open8,.is-open9 {
    width: 1000px;
    display: none;
  }

  a{
    font-family: 'Myfont';
    font-size: 20px;
    position: relative;
    display: inline-block;
    transition: .3s;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    
  }

  a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .3s;
    transform: translateX(-50%);
    
  }
  
  a:hover{
    color: #fff;
  }

  a:hover::after{
    width: 100%;
  }

  .right {
    margin-top: 20px;
    text-align: right;
  }