{% extends 'proffesional/base.html' %}

{% block content %}
<body>

   
    <h3>学部・学科共通科目理工学部登録用</h3>
    <form action="{% url 'proffesional:develop_system_common' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" class="dropify" data-default-file="生殺与奪の権をファイルに握らせろ！！" name="csv">
      <button type="submit" class="btn" name="button">アップロード</button>
    </form>
    
    <script>
    $(function(){
      $('.dropify').dropify();
    })
    </script>

    <a href="{% url 'proffesional:title' %}"> <br>戻る </a>

</body>
{% endblock %}