{% extends 'proffesional/base.html' %}

{% block content %}

<body class="main-background">

  <div class="container">
    <div class="introduction">
      <div class="word1">単位</div><br>
      <div class="paragraph">それは我々学生が死に物狂いで勝ち取りにいくものです。<br>
        なぜ学生が死に物狂いで単位を取得するのか。それは、単位が足りないと卒検に着手できなかったり、または卒業できなかったり、つまり単位が不足するということが大学生にとっての死と同義であるからです。<br>
        また、毎朝頑張って起きてギリギリに出席したり、課題を期限間際に提出したり、先輩に聞き回って必死に過去問を集めたり、サークルやバイト中に試験勉強したり、時には友人宅で集まって勉強して徹夜で試験に向かったり、単位を取るまでの過程には、人それぞれの努力や思い出が詰まっているはずです。つまり単位とは努力の結晶とも言えるでしょう。<br>
        しかし、例年この大学では、卒検着手以前で必要単位数に達していないために留年して死が確定してしまう学生が少なからずいるようです。 中には単位が足りていると思っていたのに直前で足りないことが発覚し亡き者になった人も…<br>
        そうなれば単位を取るために死に物狂いになった日々や努力の結晶たちが全て水の泡となってしまいます。 皆さんには、これらの学生のように無残な死に方をして欲しくないため、このアプリを開発しました！！<br><br>
      </div>
    </div><br>
    <div class="word2">使用方法</div>
    <div class="table">

      <div class="number">1.成績をダウンロード</div>
      <p class="bullets"><a href="https://gakumu.muroran-it.ac.jp/campusweb/campusportal.do">CAMPUS SQUARE</a>にログイン→成績→表示範囲「過去を含めた全成績」を選択し、「ファイルに出力する」を押す→「ファイル出力開始」を押すと成績ファイルがダウンロードされます。<br>
        <img src="static/images/2.jpeg" alt="写真">
      </p>

      <div class="number">2.成績をアップロード</div>
      <p class="bullets">先ほどダウンロードした成績を一番下のファイルアップロードへアップロードしてください。</p>

      <div class="number">3.結果を見る</div>
      <p class="bullets">ボタンを押し結果を確認してください。<br>
        後は祈るだけです。</p>
    </div>
    <!--<ol class="table">
      <li class="number">成績をダウンロード
        <ul>
          <li class="bullets">キャンパススクエアにあることの説明</li>
        </ul>
      </li>

      <li class="number">成績をアップロード
      
      <ul>
      <li class="bullets">先ほどダウンロードした成績を一番下のファイルアップロードへアップロードしてください。</li>
      </ul>
      
      </li>

      <li class="number">結果を見る
        <ul>
          <li class="bullets">ボタンを押し結果を確認してください。<br>
              後は祈るだけです。</li>
        </ul>
      </li>
      </ol>-->
    <form action="{% url 'proffesional:main' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" class="dropify" data-default-file="生殺与奪の権をファイルに握らせろ！！！" name="csv">
      
      <div class="radio">
      <input type="radio" name="choice_output" value="1" required>卒業要件
      <input type="radio" name="choice_output" value="0" required>卒業研究着手要件
      </div>
      <br>  
     <button type="submit" class="btn" name="button">結果を見る</button>
    </form>
  </div>

  <script>
    $(function () {
      $('.dropify').dropify();
    })
  </script>



</body>
{% endblock %}