{% extends 'proffesional/base.html' %}

{% block content %}


<body class="title-background">
    <div class="container">
        <!--<h1 class="title">君<span class="part">は</span>ほんとに大丈夫か？</h1> -->
        <header>
            <div class="area">
                <div class="passing move">
                    <div class="passing-box">
                        <div class="passing-bar">
                            <div class="passing-txt">
                                <h1>
                                    <p class="large">気持ちよく進級、卒業へ</p>
                                    <p class="small">～現在の不足単位を簡単に確認できます～ </p>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>


                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="button-7">
                    <div class="eff-7"></div>
                    <!--<a href="{% url 'proffesional:main' %}"> Touch me </a>-->
                    <a href="{% url 'proffesional:main' %}">確認する</a>
                </div>
            </div>

        </header>

    </div>
</body>
{% endblock %}